// ================================================
//			Шрифты
// ================================================

// Основной шрифт
// ================================
$main-font: 'MainFont'
$main-font-dest: '../fonts/Verdana.ttf'
$main-font-size: 12px
$main-font-weight: normal

// Иконочный шрифт
// ================================
$icon-font: 'IconFont'
$icon-font-dest: '../fonts/fa-solid-900.ttf'
$icon-font-size: 1.5rem

// Запасные шрифты
// ================================
$other-fonts: sans-serif, Arial, "����"

// ================================================
//			Цвета
// ================================================

// Основные
// ================================
$light: #eee
$light-black: #333
$black: #262626
$deep-black: #1a1a1a
$silver: #4d4d4d
$accent: #b34d12
$accent-hover: #c95716

$rgba-black: rgba(0, 0, 0, .125)

// ================================
// ================================
$silver-border: .1rem solid $silver
$accent-border: .1rem solid $accent
$black-border: .1rem solid $deep-black

$accent-shadow: 0 0 .5rem $accent
$black-shadow: 0 0 .5rem $deep-black

// ================================================
//			Размеры
// ================================================

$border-radius: .5rem
$io-border-radius: .2rem